<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link {% if active is defined and active == 'index' %}active{% endif %}" href="/">Home</a>
    <a class="nav-link {% if active is defined and active == 'spider' %}active{% endif %}" href="/domain/spider">Spider</a>
    <a class="nav-link {% if active is defined and active == 'domains' %}active{% endif %}" href="/domain/list">Domains</a>
    {# <a class="nav-link" href="/link/spider">Link</a> #}
</nav>