{% extends 'base.html.twig' %}

{% block title %}Ghostfog - Spider Stats{% endblock %}

{% block body %}
    <div id="app">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    {% include '/partials/nav.html.twig' with{active: 'index'} %}
                </div>
            </header>
            <main role="main" class="inner " v-cloak>
                <div class="clearfix">
                    <h1 class="float-md-left cover-heading">Spider <sup>Beta</sup></h1>
                </div>
                <p class="lead mt-4">Scanning the Internet. Domains: #{{data.domains}} {#| Queue: {{data.queue}} | Processing: {{data.pending}}#} | Crawlers: #{{data.workers}}</p>
                {# <a class=" action-button float-md-left btn btn-success" href="/domain/spider">Domain Spider</a> #}
                {# <a class=" action-button float-md-left btn btn-success" href="/link/spider">Link Spider</a> #}
            </main>
            {% include '/partials/footer.html.twig' %}
        </div>
    </div>
{% endblock %}
