{% extends 'base.html.twig' %}

{% block title %}Ghostfog - Error, we could not find that, oops{% endblock %}

{% block body %}
    <div id="app">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <nav class="nav nav-masthead justify-content-center">
                        {% include '/partials/nav.html.twig' with{active: ''} %}
                    </nav>
                </div>
            </header>
            <main role="main" class="inner " v-cloak>
                <div class="clearfix">
                    <h1 class="float-md-left cover-heading">Spider <sup>Beta</sup></h1>
                </div>
                <p class="lead mt-4">Oops! An Error Occurred</p>
                <p>The server returned a "404 Not Found".</p>
                <p>Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
            </main>
            {% include '/partials/footer.html.twig' %}
        </div>
    </div>
{% endblock %}
